{
  "openapi": "3.0.0",
  "info": {
    "title": "Airtable API (Subset)",
    "description": "Subset of Airtable API endpoints for MCP workshop",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.airtable.com/v0/{baseId}",
      "variables": {
        "baseId": {
          "description": "Your Airtable Base ID (starts with 'app')"
        }
      }
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal Access Token from https://airtable.com/create/tokens"
      }
    },
    "schemas": {
      "Record": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Record ID (starts with 'rec')"
          },
          "fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Field values (keys are field names)"
          },
          "createdTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "paths": {
    "/{tableName}": {
      "get": {
        "operationId": "listRecords",
        "summary": "List records from a table",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Table name (URL encoded)"
          },
          {
            "name": "maxRecords",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "View name to filter by"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Record"
                      }
                    },
                    "offset": {
                      "type": "string",
                      "description": "Pagination offset for next page"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createRecord",
        "summary": "Create a new record",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Field values to set"
                  }
                },
                "required": ["fields"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          }
        }
      }
    },
    "/{tableName}/{recordId}": {
      "get": {
        "operationId": "getRecord",
        "summary": "Get a single record",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID (starts with 'rec')"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          }
        }
      }
    }
  }
}


